html {
    background-color: #333;
    font-size: 22px;
    color: aliceblue;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
    border-left: 1px solid #fff;
    border-right: 1px solid #fff;
}

th, td, caption {
    border: 1px solid #fff;
    font-family: 'Courier New', Courier, monospace;
    border-collapse: separate;
    padding: 0.5rem;
}

a:link {
    color: aliceblue;
}

a:visited {
    color: cyan;
}