html {
  background-color: #fff8b0;
  font-size: 22px;
  color: #333;
  scroll-behavior: smooth;
}

body {
  background-color: #fff;
  min-height: 100vh;
  max-width: 800px;
  margin: 0 auto;
  padding: 1rem;
  border-left: 1px solid #fff;
  border-right: 1px solid #fff;
}

table {
    margin-left: auto;
    margin-right: auto;
}
th,
td,
caption {
  border: 1px solid #333;
  font-family: "Courier New", Courier, monospace;
  border-collapse: separate;
  padding: 0.5rem;
}

figure {
  text-align: center;
}

a:link {
  color: #000;
}

a:visited {
  color: #000;
}
